body {
    padding: 50px;
    font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  .grid {
    border: 5px solid rgb(111,41,97);
    display: inline-grid;
    width: 500px;
  }
  
  .grid > * {
    background-color: rgba(111,41,97,.4);
    border-radius: 5px;
    padding: 10px;
  }